   <!--Navigation bar-->
    <nav class="navbar sticky-top navbar-expand-lg navbar-dark bg-dark py-3">
        <!--Brand-->
        <div class="container-fluid">
            <a class="navbar-brand" href="/">
                <img src="/public/img/brand.png" alt="brand" width="30" height="30" class="d-inline-block align-top">
                Schroom
            </a>
            <!--Category dropdown list-->
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbar-collapse" aria-controls="navbar-collapse" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
            </button>
            <!--Wrap collapse components in a div-->
            <div class="collapse navbar-collapse" id="navbar-collapse">
                <ul class="navbar-nav">
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="category" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                            Category
                        </a>
                        <ul class="dropdown-menu" aria-labelledby="category">
                            {{#each categories}}
                               <li>
                                   <a class="dropdown-item" href="#">{{this.title}}</a>
                                   {{#if this.children}}
                                       <ul class="submenu dropdown-menu">
                                           {{#each this.children}}
                                               <li><a class="dropdown-item" href="/search/cat/{{this.id}}">{{this.title}}</a></li>
                                           {{/each}}
                                       </ul>
                                   {{/if}}
                               </li>
                           {{/each}}
                        </ul>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="action" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                            Manage
                        </a>
                        <ul class="dropdown-menu" aria-labelledby="action">
                            <li>
                                 <a class="dropdown-item" href="/admin/cat">Category</a>
                            </li>
                            <li>
                                 <a class="dropdown-item" href="/admin/course">Course</a>
                             </li>
                             <li>
                                 <a class="dropdown-item" href="#">Account</a>
                                 <ul class="submenu dropdown-menu">
                                     <li><a class="dropdown-item" href="/admin/student">Student</a></li>
                                     <li><a class="dropdown-item" href="/admin/teacher">Teacher</a></li>
                                 </ul>
                            </li>                    
                        </ul>
                    </li>
                </ul>

                <form id="search-form" method="GET" class="d-flex">
                    <input class="form-control vw-50 ms-2" type="search" placeholder="Search for anything" aria-label="Search" name="name" id="name">
                    <button class="btn btn-danger ms-2" type="submit">Search</button>
                </form>

                <div class="ms-auto">
                    <form action="/account/logout" method="POST">
                        <button class="btn btn-outline-warning me-1" type="submit">Log out</button>
                    </form>
                </div>
            </div>
        </div>
    </nav>

   <script>
       $(document).ready(() => {
           $('#search-form').on('submit', e => {
               e.preventDefault()
               $('#search-form').attr('action', `/search/name/${$('#name').val()}`).off('submit').submit()
           })
       })
   </script>