<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Schroom | Online Courses</title>
    <link rel="icon" href="/public/favicon.ico">
    <!--Add boostrap css-->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-giJF6kkoqNQ00vy+HMDP7azOuL0xtbfIcaT9wjKHr8RbDVddVHyTfAAsrekwKmP1" crossorigin="anonymous">
    <!--Add our own css-->
    <link rel="stylesheet" href="/public/css/navigation_bar.css">
    <link rel="stylesheet" href="/public/css/footer.css">

    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
</head>
<body>
    {{{_sections.header}}}
    {{!------------------------------------------------- --}}
    {{#unless user.permission}}
        {{> guest-navbar}}
    {{/unless}}
    {{#isEqual user.permission "STUDENT"}}
        {{> student-navbar}}
    {{/isEqual}}
    {{#isEqual user.permission "TEACHER"}}
        {{> lecturer-navbar}}
    {{/isEqual}}
    {{#isEqual user.permission "ADMIN"}}
        {{> admin-navbar}}
    {{/isEqual}}
    {{!------------------------------------------------- --}}
    {{!-- {{> search-result}} --}}
    {{{body}}}
    
    {{!------------------------------------------------- --}}
    <!--Footer-->
    <div class="bottom section-padding col-md-12 text-center">
		<p>
            <a href="/"><img src="/public/img/brand.png" alt="brand" width="30" height="30"></a>
            © 2021 Schroom Inc. All rights reserved.
        </p>
	</div>
    {{!------------------------------------------------- --}}
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.4/dist/umd/popper.min.js" integrity="sha384-q2kxQ16AaE6UbzuKqyBE9/u/KzioAlnx2maXQHiDX9d4/zp8Ok3f+M7DPm+Ib6IU" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/js/bootstrap.min.js" integrity="sha384-pQQkAEnwaBkjpqZ8RU1fF1AKtTcHJwFl3pblpTlHXybJjHpMYo79HY3hIi4NKxyj" crossorigin="anonymous"></script>
    <script src="/public/js/dropdown_menu.js"></script>
    {{{_sections.footer}}}
</body>
</html>