{{#section 'header'}}
    <link rel="stylesheet" href="/public/owlcarousel/assets/owl.carousel.min.css">
    <link rel="stylesheet" href="/public/owlcarousel/assets/owl.theme.default.min.css">
    <script src="/public/owlcarousel/owl.carousel.min.js"></script>
    <link rel="stylesheet" href="/public/css/course-detail.css">
{{/section}}
{{!-- ----------------------------------------------- --}}
<!-- Course brief-->
<div class="head">
    <div class="head-content">
        <div class="row">
             <div class="col-7">
                <h1>Complete 2020 Python bootcamp from nothing to everything</h1>
                <div class="row">
                    <div class="col-auto">4.6 ⭐⭐⭐⭐⭐</div>
                    <div class="col-auto">(341,056 ratings)</div>
                    <div class="col-auto">1,199,690 students</div>
                </div>
                <h3>$119.99</h3>
                <p>Learn Python like a Professional Start from the basics and go all the way to creating your own applications and games</p>
                <div class="row">
                    <div class="col-6">
                        <p><strong>Field: </strong>Python</p>
                        <p><strong>Lecturer: </strong>Johnny Sin</p>
                        <p><strong>Last updated: </strong>14/01/2021</p>
                    </div>
                    <div class="col d-grid gap-2 col-3 mx-auto">
                        <a href="#" class="btn btn-warning btn-lg" tabindex="-1" role="button" aria-disabled="true">Purchase now</a>
                        <a href="#" class="btn btn-danger btn-lg" tabindex="-1" role="button" aria-disabled="true">Add to wishlist</a>
                    </div>
                </div>
               
            </div>
            <div class="col">
                <img src="/public/img/python-ava.jpg" alt="Course avatar" width="500px"; height="300px">
            </div>
        </div>
    </div>
</div>
<!--Course detail-->
<div class="body border shadow-lg">
    <ul class="nav nav-tabs nav-fill" id="myTab" role="tablist">
        <li class="nav-item" role="presentation">
            <a class="nav-link active" id="description-tab" data-bs-toggle="tab" href="#description" role="tab" aria-controls="description" aria-selected="true">Description</a>
        </li>
        <li class="nav-item" role="presentation">
            <a class="nav-link" id="feedback-tab" data-bs-toggle="tab" href="#feedback" role="tab" aria-controls="feedback" aria-selected="false">Feedback</a>
        </li>
        <li class="nav-item" role="presentation">
            <a class="nav-link" id="syllabus-tab" data-bs-toggle="tab" href="#syllabus" role="tab" aria-controls="syllabus" aria-selected="false">Syllabus</a>
        </li>
    </ul>
    <div class="tab-content p-4" id="myTabContent">
        <div class="tab-pane fade show active" id="description" role="tabpanel" aria-labelledby="description-tab">
            Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.
        </div>
        <div class="tab-pane fade" id="feedback" role="tabpanel" aria-labelledby="feedback-tab">
            <div class="shadow p-4"> <!-- Each comment is a div-->
                <h6>John Constantine</h6>
                <p>Bloody hell, this course is lit!</p>
            </div>
            <div class="shadow p-4"> <!-- Each comment is a div-->
                <h6>Mephisto</h6>
                <p>I will catch you up soon, John.</p>
            </div>
            <div class="shadow p-4"> <!-- Each comment is a div-->
                <h6>Batman who laughs</h6>
                <p>Hahahahahahahahahaha</p>
            </div>
        </div>
        <div class="tab-pane fade" id="syllabus" role="tabpanel" aria-labelledby="syllabus-tab">
            <ul>
                <li>
                    <h6>Course Overview</h6>
                    <a href="#">Preview video</a>
                </li>
                <li>
                    <h6>Python Setup</h6>
                    <a href="#">Preview video</a>
                </li>
                <li>
                    <h6>Python objects and data structure basics</h6>
                    <a href="#">Preview video</a>
                </li>
                <li>
                    <h6>Python comparision operators</h6>
                </li>
                <li>
                    <h6>Python statement</h6>
                </li>
                <li>
                    <h6>Methods and functions</h6>
                </li>
                <li>
                    <h6>Milestone project - 1</h6>
                </li>
                <li>
                    <h6>Object oriented programming</h6>
                </li>
                <li>
                    <h6>Modules and packages</h6>
                </li>
                <li>
                    <h6>Errors and exceptions handling</h6>
                </li>
            </ul>
        </div>
    </div>
</div>
{{!-- ----------------------------------------------- --}}
<!-- Advertisement-->
   <script>
        $(document).ready(function(){
           $('.owl-carousel').owlCarousel({
                loop:false,
                margin:15,
                nav:true,
                responsive:{
                    0:{
                        items:1
                    },
                    600:{
                        items:3
                    },
                    1000:{
                        items:5
                    }
                }
            })
        });
    </script>

<div class="footer">
    <!-- Show 5-->
    <div><h3>Most regular courses in the same category</h3></div>
    <div class="owl-carousel owl-theme">
        <div class="item">
            <a href="/course/single/:id"><img src="/public/img/thumbnail.jpg"></a>
            <b>Artificial Intelligence with Python</b>
            <h6 style="margin-bottom: 0;">Python <br></h6>
            <em>Johnny Sin</em>
            <div>⭐⭐⭐⭐⭐ (1895)</div>
            <b style="font-size: large;">$100.0</b>
        </div>
        <div class="item">
            <a href=""><img src="/public/img/thumbnail.jpg"></a>
            <b>Artificial Intelligence with Python</b>
            <h6 style="margin-bottom: 0;">Python <br></h6>
            <em>Johnny Sin</em>
            <div>⭐⭐⭐⭐⭐ (1895)</div>
            <b style="font-size: large;">$100.0</b>
        </div>
        <div class="item">
            <a href=""><img src="/public/img/thumbnail.jpg"></a>
            <b>Artificial Intelligence with Python</b>
            <h6 style="margin-bottom: 0;">Python <br></h6>
            <em>Johnny Sin</em>
            <div>⭐⭐⭐⭐⭐ (1895)</div>
            <b style="font-size: large;">$100.0</b>
        </div>
        <div class="item">
            <a href=""><img src="/public/img/thumbnail.jpg"></a>
            <b>Artificial Intelligence with Python</b>
            <h6 style="margin-bottom: 0;">Python <br></h6>
            <em>Johnny Sin</em>
            <div>⭐⭐⭐⭐⭐ (1895)</div>
            <b style="font-size: large;">$100.0</b>
        </div>
        <div class="item">
            <a href=""><img src="/public/img/thumbnail.jpg"></a>
            <b>Artificial Intelligence with Python</b>
            <h6 style="margin-bottom: 0;">Python <br></h6>
            <em>Johnny Sin</em>
            <div>⭐⭐⭐⭐⭐ (1895)</div>
            <b style="font-size: large;">$100.0</b>
        </div>
    </div>
    <hr>
</div>