<hr>

<div class="container">
    <div class="row" style="width: 90%; margin: 0 auto;">
            <div class="col-2">
                <h4>Filter</h4>
                <div class="form-check">
                    <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
                    <label class="form-check-label" for="flexCheckDefault">
                      Student
                    </label>
                  </div>
                <div class="form-check">
                    <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
                    <label class="form-check-label" for="flexCheckDefault">
                      Lecturer
                    </label>
                  </div>
                
                <hr>

                <h4>New lecturer account</h4>
                <form action="" method="post" name="login">
                    <div class="form-group mb-sm-2">
                        <input type="text" name="name"  class="form-control my-input" id="name" placeholder="Name">
                    </div>
                    <div class="form-group mb-sm-2">
                        <input type="email" name="email"  class="form-control my-input" id="email" placeholder="Email">
                    </div>
                    <div class="form-group mb-sm-2">
                        <input type="password" name="password" id="phone"  class="form-control my-input" placeholder="Password">
                    </div>
                    <div class="text-center ">
                        <button type="submit" class=" btn btn-info text-light">Create</button>
                    </div>
                </form>
            </div>



            <div class="col">
                <div class="search-result-item">
                    <div class="search-result-item-body">
                        <div class="row">
                            <div class="col-3">
                                <a href="#"><img class="img-fluid" src="/public/img/avatar.jpg"></a>
                            </div>
                            <div class="col-6">
                                <h4 class="search-result-item-heading"><a href="#">Nguyen Tan Hao</a></h4>
                                <span class="field">tanhaonguyen2015@gmail.com</span>
                                <p>Username: tanhao10</p>
                                <span class="badge bg-success fw-bold">Student</span>
                                <div style="margin-top: 2rem;">
                                    <a href="#"><button type="button" class="btn btn-danger btn-lg rounded-pill fw-bold text-light">Block</button></a>
                                </div> 
                            </div>
                        </div>
                    </div>
                </div>
                <hr>

                <div class="search-result-item">
                    <div class="search-result-item-body">
                        <div class="row">
                            <div class="col-3">
                                <a href="#"><img class="img-fluid" src="/public/img/avatar.jpg"></a>
                            </div>
                            <div class="col-6">
                                <h4 class="search-result-item-heading"><a href="#">Ho Tuan Thanh</a></h4>
                                <span class="field">htthanh@fit.hcmus.edu.vn</span>
                                <p>Username: htthanh2021</p>
                                <span class="badge bg-info fw-bold">Lecturer</span>
                                <div style="margin-top: 2rem;">
                                    <a href="#"><button type="button" class="btn btn-danger btn-lg rounded-pill fw-bold text-light">Block</button></a>
                                </div> 
                            </div>
                        </div>
                    </div>
                </div>
                <hr>

            </div>

            <nav class="pagination-margin">
                <ul class="pagination pagination-lg justify-content-center">
                    <li class="page-item disabled"><a class="page-link" href="#">Previous</a></li>
                    <li class="page-item"><a class="page-link active" href="#">1</a></li>
                    <li class="page-item"><a class="page-link" href="#">2</a></li>
                    <li class="page-item"><a class="page-link" href="#">3</a></li>
                    <li class="page-item"><a class="page-link" href="#">Next</a></li>
                </ul>
            </nav>
    </div>
</div>

<hr>