 {{#section 'header'}}
    <link href="https://fonts.googleapis.com/css?family=Roboto:300,400&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/public/css/icomoon/style.css">
    <link rel="stylesheet" href="/public/owlcarousel/assets/owl.carousel.min.css">
    <link rel="stylesheet" href="/public/css/login-style.css">
{{/section}}
 
 {{#section 'footer'}}
    <script src="/public/js/login.js"></script>
    <script>
        $(document).ready(function() {
            $('#register-form').on('submit', function(e) {
                e.preventDefault()
                failed = false

                $.ajax({
                    url: '/account/check/exist/email',
                    type: 'POST',
                    data: { email: $('#email').val() },
                    async: false,
                    success: (data) => {
                        if (data.status) {
                        	failed = true
                        	return $('#msg').text('Email ' + $('#email').val() + ' is already registered.')
                        }
                    }
                })

                $.ajax({
                    url: '/account/check/exist/username',
                    type: 'POST',
                    data: { username: $('#username').val() },
                    async: false,
                    success: (data) => {
                        if (data.status) {
                            failed = true
                        	return $('#msg').text('Username ' + $('#username').val() + ' is already existed.')
                        }
                    }
                })

                if (!failed) $('form').off('submit').submit()
            })
        })
    </script>
 {{/section}}
{{!-- ----------------------------------------------- --}}
<!-- If you could find a way to make the footer stick at the bottom, then delete the div below-->
<div style="margin: 1.7rem 0;"></div> 

<div class="content">
    <div class="container">
        <div class="row">
            <div class="col-md-6">
                <img src="/public/img/signup-screen.png" alt="Online courses" class="img-fluid">
            </div>
            <div class="col-md-6 contents">
                <div class="row justify-content-center">
                    <div class="col-md-8">
                        <div class="mb-4">
                            <h3>Sign Up</h3>
                            <p class="mb-4" style="color: #393e46">Schroom - The world's largest selection of courses with  over 130000 courses and 35 million students. <br><br>
                                            Join us now!
                            </p>    
                        </div>
                        <form id="register-form" method="post" action="/account/register">
                            <div class="form-group first">
                                <label for="fullname">Full name</label>
                                <input type="text" class="form-control" id="fullname" name="fullname" required>
                            </div>
                            <div class="form-group">
                                <label for="email">Email</label>
                                <input type="email" class="form-control" id="email" name="email" required>
                            </div>
                            <div class="form-group">
                                <label for="username">Username</label>
                                <input type="text" class="form-control" id="username" name="username" required>
                            </div>
                            <div class="form-group last mb-4">
                                <label for="password">Password</label>
                                <input type="password" class="form-control" id="password" name="password" required>
                            </div>

                            <div class="d-flex mb-3 align-items-center">
                                <p style="color: red !important;" id="msg"></p>
                            </div>

                            <div class="d-grid gap-2">
                                <button class="btn btn-warning" type="submit">Sign Up</button>
                            </div> 
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

