{{#section 'header'}}
    <link rel="stylesheet" href="/public/css/search-result.css">
{{/section}}
 
{{!-- ----------------------------------------------- --}}
<hr>
<div class="container">
    <div style="width: 90%; margin: 20px auto 0 auto;">     
            <div class="search-result-item">
                <div class="search-result-item-body">
                    <div class="row">
                        <div class="col-3">
                            <a href="#"><img class="img-fluid" src="/public/img/thumbnail.jpg"></a>
                        </div>
                        <div class="col-7">
                            <h4 class="search-result-item-heading"><a href="#">Complete 2020 Python bootcamp from nothing to everything</a></h4>
                            <span class="field">Python | </span>
                            <span class="lecturer">Johnny Sin</span>
                            <div>4.6 ⭐⭐⭐⭐⭐ (341,056 ratings)</div>
                            {{!-- <p>Learn Python like a Professional Start from the basics and go all the way to creating your own applications and games</p> --}}
                        </div>
                        
                        <div class="col">
                            <div>
                                <span class="badge bg-warning fw-bold">Bestseller</span>
                                <span class="badge bg-danger fw-bold">New</span>
                            </div>
                            <div style="margin-top: 0.5rem;">
                                <a href="#"><button type="button" class="btn btn-secondary rounded-pill">Remove</button></a>
                            </div> 
                        </div>
                    </div>
                </div>
            </div>

           <hr>

            <nav class="pagination-margin">
                <ul class="pagination pagination-lg justify-content-center">
                    <li class="page-item disabled"><a class="page-link" href="#">Previous</a></li>
                    <li class="page-item"><a class="page-link active" href="#">1</a></li>
                    <li class="page-item"><a class="page-link" href="#">2</a></li>
                    <li class="page-item"><a class="page-link" href="#">3</a></li>
                    <li class="page-item"><a class="page-link" href="#">Next</a></li>
                </ul>
            </nav>

    </div>
</div>

<hr>